public/automation/Twitter.json
{
  "name": "Twitter_Auto_Poster",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $('Limit').item.json.Tweets }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        64,
        384
      ],
      "id": "b3adb91b-f9ba-49c5-ab7b-d33671dded25",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "My X account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "INSERT_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "Twitter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/..."
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/..."
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "Used": "TRUE"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tweets",
              "displayName": "Tweets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        288
      ],
      "id": "40c550b2-d197-4184-a5dc-21a35264ae9b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "bbeec2cf-5b62-4c68-9e9e-c3d2a7d5b98d",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a112643-f823-4423-995b-a66a2e2d43f3",
              "leftValue": "={{ $json.Used }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        0
      ],
      "id": "e567a0b2-1394-4213-9fad-55581c03426e",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Tweet",
              "value": "={{ $('Limit').item.json.Tweets }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        208
      ],
      "id": "d246cbeb-357a-417b-82f8-a4f082678ec9",
      "name": "HTTP Request",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "X OAuth account"
        },
        "twitterOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "My X account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        176
      ],
      "id": "410977fc-b0de-408b-857d-d04648c813ff",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Tweets }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert viral visual prompt engineer for [Your Brand].\n\nInput: a short tweet containing an opinion, lesson, or contrarian insight.\n\nGoal:\nGenerate a scroll-stopping image prompt that acts as a STRONG HOOK on X (Twitter).\nThe image MUST grab attention in the first 1 second.\n\nCore strategy:\n- Visually reinforce a bold or contrarian message.\n- Include **short, punchy on-image text** that hooks the viewer.\n- Example hook styles:\n  - \"Do NOT build AI agents unless…\"\n  - \"Building AI agents is worthless unless…\"\n  - \"If you start with AI agents, you’re wasting time.\"\n- Text must be minimal, high-impact, and readable on mobile.\n- The visual should create curiosity, tension, or surprise.\n\nText rules:\n- Max 1–2 short lines.\n- Large, bold, high-contrast typography.\n- No paragraphs.\n- No hashtags.\n- No watermarks or logos.\n\nImage quality rules:\n- Clean composition, strong focal point.\n- Designed for small screens (Twitter feed).\n- High contrast between subject, background, and text.\n- Professional, intentional aesthetic.\n\nHard restrictions:\n- No copyrighted characters or brands.\n- No violence, sexual content, or politics.\n- No cluttered scenes.\n- No UI screenshots.\n\nOutput:\nReturn a **single, fully written prompt** in plain text, ready to copy-paste, not JSON.\nMake it vivid, descriptive, and scroll-stopping.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        320,
        0
      ],
      "id": "f4328c37-eb4b-48dc-866c-7bf9a609c6ea",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-image"
        },
        "prompt": "={{ $json.text }}",
        "options": {
          "sampleCount": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        288
      ],
      "id": "5ea60f60-c935-430c-80c1-f8dc18d2a249",
      "name": "Generate an image",
      "alwaysOutputData": false,
      "credentials": {
        "googlePalmApi": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "INSERT_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "Twitter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/..."
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/..."
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        0
      ],
      "id": "cf84cb04-6652-45ba-878e-5260d12876b1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 4,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        0
      ],
      "id": "5b8fec59-56f5-46b0-afef-71adcc5a39ec",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2e83988-e907-4366-9e43-9a763e68e3c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c56975295062d25bdbb52f0b9af12677fc2da8b3662b5c9a20985df235d19b9d"
  },
  "id": "xfun3IKhFaQ6VcpP",
  "tags": []
}