public/automation/youtube.json
{
  "name": "YouTube_Content_Repurposer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        192
      ],
      "id": "555979ac-34f6-455d-9b87-562e01e3e5dc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"10 ChatGPT Prompts That Will Blow Your Mind\",\n  \"description\": \"Ever wondered how top creators use ChatGPT to automate tasks? In this video, I’ll share 10 insanely powerful prompts you can use right now to save hours daily. Stick to the end for a bonus prompt that feels like magic! Subscribe for more ChatGPT hacks like this. #ChatGPT #AIPrompts #AIProductivity #PromptEngineering #Automation\",\n  \"tags\": \"chatgpt prompts, ai tools, chatgpt hacks, best chatgpt prompts, chatgpt automation, prompt ideas, make money with chatgpt, ai productivity, chatgpt for beginners, prompt engineering, chatgpt guide\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1488,
        192
      ],
      "id": "c13ef3fc-1306-4ec7-b11b-f2637bd2c195",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('If').item.json.URLs }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        128
      ],
      "id": "db07318b-1f59-4545-88f4-74e8dfdc3b87",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.output.title }}",
        "regionCode": "US",
        "categoryId": "27",
        "options": {
          "defaultLanguage": "en",
          "description": "={{ $json.output.description }}",
          "tags": "={{ $json.output.tags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1872,
        0
      ],
      "id": "75f49901-9134-4b5a-a440-b769783583a5",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "INSERT_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        48
      ],
      "id": "f1621017-b36b-4ab8-bc92-895d9b36770b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7673383-a874-4e50-8ab6-e63061815744",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        48
      ],
      "id": "afda7cce-a197-4369-8df9-3d53cd948d6a",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.URLs }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        32
      ],
      "id": "7470ad5d-db14-4708-ad2a-9fd4a9d48101",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "INSERT_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('If').item.json.row_number }}",
            "Status": "Posted"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "URLs",
              "displayName": "URLs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Titles",
              "displayName": "Titles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Descriptios",
              "displayName": "Descriptios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        160
      ],
      "id": "b158b256-f99c-44d1-8bef-0a6989c24dba",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "INSERT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        544,
        48
      ],
      "id": "fd1fc5d0-9652-406e-9ab9-26a490f49094",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Get the link of the video  and download the video\n\n",
        "height": 432,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -112
      ],
      "typeVersion": 1,
      "id": "865601a7-7839-4e12-a95a-1d9c6e135125",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Generates Title, Description and Tags\n",
        "height": 432,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -112
      ],
      "typeVersion": 1,
      "id": "9f69f720-ba79-425e-8210-9e9fe355bda3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Post the video to youtube\n",
        "height": 432,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        -112
      ],
      "typeVersion": 1,
      "id": "583237c2-45e3-40c8-8de6-12f7257dc4f1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=$binary.data",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "SYSTEM:\nYou are a YouTube SEO expert and AI content strategist who specializes in ChatGPT prompt videos.\nYour job is to analyze a provided video file (from Google Drive via n8n) and generate an optimized YouTube upload package:\n- Title (catchy and SEO-optimized)\n- Description (engaging, detailed, with hashtags and CTA)\n- Tags (keyword-rich list)\n\nBe concise, professional, and natural — no robotic tone. Focus on high retention and click-through potential.\n\n---\n\nUSER:\nYou will receive a video file as binary data from a Google Drive node in n8n.\n\nAnalyze the content, captions, visuals, or metadata of that file to understand the topic. \nThen create a structured JSON output following this exact schema:\n\n{\n  \"title\": \"[Optimized YouTube title under 70 characters, with keywords like ChatGPT, AI, Prompts, etc.]\",\n  \"description\": \"[2–3 engaging paragraphs summarizing the video. Start with a hook, explain the value, end with a CTA such as 'Subscribe for more ChatGPT hacks!'. Include 3–5 hashtags like #ChatGPT #AIPrompts #AIProductivity #PromptEngineering #Automation]\",\n  \"tags\": \"[15–20 comma-separated SEO tags relevant to ChatGPT prompts, e.g., chatgpt prompts, ai tools, best chatgpt prompts, prompt engineering, make money with chatgpt, ai productivity, chatgpt automation]\"\n}\n\n---\n\nCONTEXT:\n- The video file comes from a Google Drive node in n8n (binary data, not URL).\n- The niche is “ChatGPT prompts.”\n- Optimize for search visibility, curiosity, and clarity.\n- Output **only valid JSON** that can be parsed programmatically — no markdown, explanations, or extra text.\n\n---\n\nINPUT:\n{{ $binary.data }}\n\n---\n\nTASK:\nAnalyze the input video and return a JSON object exactly matching the schema above.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        32
      ],
      "id": "fd07c25e-d2b9-4db7-95b5-240055ce6699",
      "name": "Text Generator"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Text Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Text Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Generator": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a422c011-3860-4bb9-be02-431388959f89",
  "id": "K0fGvSQ9bbZwN76s",
  "tags": []
}